.password-entry {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  min-height: calc(var(--vh) * 100);

  &__bottom {
    flex-grow: 1;
    background-color: #eee;
    font-size: 0.6rem;
  }

  &__wrapper {
    padding: 1rem;
    width: 24rem;
    margin: 0 auto;
  }

  &__header {
    font-size: 1rem;
  }
}

@media (max-width: 540px) {
  .password-entry {
    &__wrapper {
      width: 100%;
    }
  }
}
