.work-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  &__identification {
    display: flex;
    align-items: center;
  }

  &__hash {
    margin-right: 0.2rem;
  }

  &__button {
    padding: 0;
    width: 1.4rem;
    height: 1.4rem;
    border: unset;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
