{
  "extends": ["stylelint-config-prettier-scss"],
  "plugins": ["stylelint-order", "stylelint-scss"],
  "customSyntax": "postcss-scss",
  "rules": {
    "function-url-quotes": "never",
    "indentation": 2,
    "at-rule-no-unknown": null,
    "at-rule-no-vendor-prefix": true,
    "block-opening-brace-space-before": "always",
    "color-hex-case": "upper",
    "comment-empty-line-before": ["always", { "except": ["first-nested"] }],
    "comment-whitespace-inside": "always",
    "declaration-block-semicolon-newline-after": "always",
    "declaration-block-trailing-semicolon": "always",
    "declaration-colon-space-after": "always",
    "declaration-colon-space-before": "never",
    "declaration-block-single-line-max-declarations": 1,
    "declaration-property-value-disallowed-list": {
      "/^border/": ["none"]
    },
    "font-weight-notation": "numeric",
    "function-comma-space-after": "always-single-line",
    "max-nesting-depth": 4,
    "media-feature-name-no-vendor-prefix": true,
    "number-leading-zero": "always",
    "property-no-vendor-prefix": [
      true,
      {
        "ignoreProperties": ["box-orient", "clip-path", "mask-image"]
      }
    ],
    "rule-empty-line-before": [
      "always-multi-line",
      {
        "except": ["first-nested"],
        "ignore": ["after-comment"]
      }
    ],
    "selector-attribute-quotes": "always",
    "selector-combinator-space-after": "always",
    "selector-combinator-space-before": "always",
    "selector-list-comma-newline-after": "always",
    "selector-no-qualifying-type": true,
    "selector-no-vendor-prefix": true,
    "selector-pseudo-element-colon-notation": "double",
    "string-quotes": "single",

    "order/order": [
      [
        "dollar-variables",
        {
          "type": "at-rule",
          "name": "extend"
        },
        {
          "type": "at-rule",
          "name": "include"
        },
        {
          "type": "at-rule",
          "name": "mixin"
        },
        "custom-properties",
        "declarations",
        {
          "type": "at-rule",
          "name": "media",
          "hasBlock": true
        },
        "rules"
      ]
    ],
    "order/properties-order": [
      {
        "properties": ["content", "quotes"]
      },
      {
        "properties": ["visibility", "opacity"]
      },
      {
        "properties": [
          "display",
          "position",
          "top",
          "right",
          "bottom",
          "left",
          "z-index"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": ["float", "clear"]
      },
      {
        "properties": ["box-sizing"]
      },
      {
        "properties": ["cursor"]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "flex",
          "flex-basis",
          "flex-direction",
          "flex-flow",
          "flex-grow",
          "flex-shrink",
          "flex-wrap",
          "align-content",
          "align-items",
          "align-self",
          "justify-content",
          "justify-items",
          "justify-self",
          "order"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "grid",
          "grid-area",
          "grid-template",
          "grid-template-areas",
          "grid-template-rows",
          "grid-template-columns",
          "grid-row",
          "grid-row-start",
          "grid-row-end",
          "grid-column",
          "grid-column-start",
          "grid-column-end",
          "grid-auto-rows",
          "grid-auto-columns",
          "grid-auto-flow",
          "grid-gap",
          "grid-row-gap",
          "grid-column-gap"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "columns",
          "column-gap",
          "column-fill",
          "column-rule",
          "column-rule-width",
          "column-rule-style",
          "column-rule-color",
          "column-span",
          "column-count",
          "column-width"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "padding",
          "padding-top",
          "padding-right",
          "padding-bottom",
          "padding-left",
          "width",
          "min-width",
          "max-width",
          "height",
          "min-height",
          "max-height"
        ]
      },
      {
        "properties": [
          "margin",
          "margin-top",
          "margin-right",
          "margin-bottom",
          "margin-left"
        ]
      },
      {
        "properties": ["overflow", "overflow-x", "overflow-y", "resize"]
      },
      {
        "properties": [
          "outline",
          "outline-offset",
          "outline-width",
          "outline-style",
          "outline-color",
          "border",
          "border-top",
          "border-right",
          "border-bottom",
          "border-left",
          "border-width",
          "border-top-width",
          "border-right-width",
          "border-bottom-width",
          "border-left-width",
          "border-style",
          "border-top-style",
          "border-right-style",
          "border-bottom-style",
          "border-left-style",
          "border-radius",
          "border-top-left-radius",
          "border-top-right-radius",
          "border-bottom-left-radius",
          "border-bottom-right-radius",
          "border-color",
          "border-top-color",
          "border-right-color",
          "border-bottom-color",
          "border-left-color",
          "border-image",
          "border-image-source",
          "border-image-width",
          "border-image-outset",
          "border-image-repeat",
          "border-image-slice"
        ]
      },
      {
        "properties": ["box-shadow"]
      },
      {
        "properties": [
          "background",
          "background-attachment",
          "background-clip",
          "background-color",
          "background-image",
          "background-origin",
          "background-position",
          "background-repeat",
          "background-size"
        ]
      },
      {
        "properties": [
          "list-style",
          "list-style-type",
          "list-style-position",
          "list-style-image",
          "caption-side"
        ]
      },
      {
        "properties": [
          "table-layout",
          "border-collapse",
          "border-spacing",
          "empty-cells"
        ]
      },
      {
        "properties": ["vertical-align"]
      },
      {
        "properties": [
          "direction",
          "tab-size",
          "text-align",
          "text-align-last",
          "text-justify",
          "text-indent",
          "text-transform",
          "text-decoration",
          "text-decoration-color",
          "text-decoration-line",
          "text-decoration-style",
          "text-rendering",
          "text-shadow",
          "text-overflow"
        ]
      },
      {
        "properties": [
          "font",
          "font-family",
          "font-size",
          "font-size-adjust",
          "font-stretch",
          "font-weight",
          "font-smoothing",
          "osx-font-smoothing",
          "font-variant",
          "font-style"
        ]
      },
      {
        "properties": [
          "line-height",
          "word-spacing",
          "letter-spacing",
          "white-space",
          "word-break",
          "word-wrap",
          "color"
        ]
      },
      {
        "properties": ["counter-reset", "counter-increment"]
      },
      {
        "properties": [
          "page-break-before",
          "page-break-after",
          "page-break-inside"
        ]
      },
      {
        "properties": [
          "backface-visibility",
          "perspective",
          "perspective-origin",
          "transform",
          "transform-origin",
          "transform-style"
        ]
      },
      {
        "properties": [
          "transition",
          "transition-delay",
          "transition-duration",
          "transition-property",
          "transition-timing-function"
        ]
      },
      {
        "properties": [
          "animation",
          "animation-name",
          "animation-duration",
          "animation-timing-function",
          "animation-delay",
          "animation-iteration-count",
          "animation-direction",
          "animation-fill-mode",
          "animation-play-state"
        ]
      }
    ],

    "scss/operator-no-unspaced": null,
    "scss/at-extend-no-missing-placeholder": true,
    "scss/at-rule-no-unknown": true,
    "scss/dollar-variable-colon-space-before": "never",
    "scss/dollar-variable-colon-space-after": "always",
    "scss/dollar-variable-pattern": "^[a-z]+([a-zA-Z0-9_]+[a-zA-Z0-9]+)?$"
  }
}
