.services-filter {
  flex-grow: 1;
  padding-left: 0.4rem;
  height: 1.6rem;
  border-top: unset;
  border-right: unset;
  border-bottom: 1px solid #666666;
  border-left: unset;
  font-size: 0.8rem;
}
