.login-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8px;
  max-width: 600px;
  margin: 8px;
  border: solid 1px;

  .login-name {
    width: 144px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .version-input {
    width: 64px;
    margin-left: 4px;
  }
}
