.password-length {
  display: flex;
  align-items: baseline;

  &__title {
    font-size: 0.6rem;
    color: #666666;
  }

  &__checkbox {
    margin-left: 0.2rem;
  }

  &__input {
    width: 0.6rem;
    height: 0.6rem;
  }

  &__variant {
    font-size: 0.6rem;
  }
}
