.service-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;

  &__controls {
    display: flex;
    flex: none;
    align-items: center;
  }

  &__name {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.6rem;
    white-space: nowrap;
  }

  &__select {
    width: 4rem;
    height: 1.4rem;
    border: unset;
    text-align: right;
    font-size: 0.4rem;
  }

  &__button {
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 0.2rem;
  }
}
