.service-preferences {
  &__title {
    margin: 0.4rem 0 0.6rem;
    font-size: 0.8rem;
  }

  &__special {
    display: flex;
    align-items: center;
    width: max-content;

    input {
      width: 0.6rem;
      height: 0.6rem;
      margin-left: 0;
    }

    span {
      font-size: 0.6rem;
    }
  }
}
