.aside {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 40%);
  transition: opacity 200ms;

  &__wrapper {
    width: 24rem;
    height: 100%;
    overflow-y: auto;
    box-shadow: 0 0 8px rgb(0 0 0 / 12%), 0 16px 16px rgb(0 0 0 / 16%);
    background-color: #fff;
    transition: 200ms;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem;
    border-bottom: solid 1px #eee;
  }

  &__title {
    max-width: 20rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    white-space: nowrap;
  }

  &__body {
    padding: 0.6rem;
  }

  &-closed {
    opacity: 0;
    pointer-events: none;

    .aside {
      &__wrapper {
        transform: translateX(-24rem);
      }
    }
  }
}

@media (width <= 540px) {
  .aside {
    &__wrapper {
      width: 90vw;
      transform: translateX(-90vw);
    }
  }

  .aside-closed {
    transform: translateX(-90vw);
  }
}
