.hidden {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.overflow-hidden {
  overflow: hidden;
}

.invisible {
  position: absolute;
  top: -1000px;
  left: -1000px;
}
