.dialog-bg {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.35);
  transform: scale(0);
}

.open {
  transform: scale(1);
}

.modal__header {
  display: flex;
  justify-content: space-between;
}
