.services-title {
  display: flex;
  font-size: 1.4rem;

  &__text {
    font-size: inherit;
  }

  &__count {
    margin-left: 0.4rem;
    font-weight: 700;
    color: #666;
  }
}

.services-controls {
  display: flex;
  margin-top: 0.4rem;

  &__add {
    margin-left: 0.6rem;
  }
}

@media (width <= 320px) {
  .services-controls {
    flex-direction: column;

    &__add {
      margin: 0.4rem 0;
    }
  }
}
